
# Visual Studio
.vs/
*.user
*.suo
*.opensdf
*.sdf
*.opendb
*.aps
*.tlog
*.lastbuildstate

# 项目编译输出
build/

# 调试残留
*.pdb
*.idb
*.exp

.idea/
cmake-build-debug/

/report/
/bin/
/obj/
/*.depend
/*.layout

AGENTS.md
CLAUDE.md
dev_spec.md
dev_status.md